$main-bg: #1f2235;
$main-color: #dc143c;
$white: #ffffff;

$header-bg: #1e274b;
$liner-tabs-bg: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
$main-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$box-shadow: $main-color 0px 5px 15px;

$overlay: rgba(0, 0, 0 ,0.5);

$font-family: 'Open Sans', sans-serif;
$font-size-small: 13px;
$font-size-default: 16px;
$font-size-medium: 24px;
$font-size-large: 28px;
$biggest-font-size: 48px;

$mobile-width: 600px;
$tablet-width: 1024px;
