@use '../../sass/' as *;

.contact{
    width: 100%;
    height: 100vh;
    position: relative;
    @include mobile{
        height: auto;
        padding-top: 20px;
        padding-bottom: 100px;
    }
    .container{
        height: 100%;
        .row{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
            }
            h1{
                margin-bottom: 15px;
                span{
                    animation: neon 2s ease infinite;
                }
            }
            input, textarea{
                width: 100%;
                margin-bottom: 8px;
                padding: 10px 14px;
                border: 1px solid $white;
                border-radius: 15px;
                outline: none;
                background: none;
                color: $white;
            }
            button{
                position: relative;
                width: 150px;
                padding: 10px;
                font-weight: 700;
                border: 1px solid $white;
                outline: none;
                transition: 0.4s ease-in-out;
                border-radius: 15px;
            }
            button:hover{
                background-color: $main-color;
                color: $white;
                border: 1px solid $white;
                transition: 0.4s ease-in-out;
                box-shadow: $box-shadow;
            }
        }
    }
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px $main-color, 0 0 20px $main-color, 0 0 20px $main-color, 0 0 20px $main-color, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: $main-color;
    }
}